body {
    background-image: url(优香、诺亚.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.b {

    font-family: 微软雅黑;
    font-size: 30px;
    margin-left: 10px;
    margin-top: -30px;
    background-repeat: no-repeat;
    color: white;
}

.q {
    margin-top: -840px;
    margin-right: 400px;
    font-family: 微软雅黑;
    float: right;

    background-color: rgba(177, 190, 219, 0.6);
    width: 800px;
    height: 800px;
    margin-top: -70px;
    border-radius: 30px;
    box-shadow: 1px 3px 0 0 rgba(0, 0, 0, 0.2);

}

.s {
    display: inline-block;
    font-size: 30px;
    margin: 60px;
    margin-left: 360px;
    margin-top: 60px;
}

.z {
    font-family: 微软雅黑;
    padding: 3%;
    margin-top: -120px;
    margin-left: 211px;
    border: 0;
    font-size: 20px;

}

.z input {
    padding: 2%;
    padding: 20px 40px 20px 40px;
    border: 0.2;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;


}

#sr {
    border-color: rgba(0, 0, 0, 0);
}

#zc {
    margin-top: -20px;
    margin-left: 300px;
    font-size: 10px;
    border-radius: 7px;
    font-family: 微软雅黑;
    padding: 10px 30px 10px 30px;
    font-size: 14px;

}

#mima2 {
    margin-left: -38px;
}